################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspNetCore.Totp/bin/Debug/netcoreapp1.0
/AspNetCore.Totp/obj/Debug/netcoreapp1.0
/AspNetCore.Totp.Tests/bin/Debug/netcoreapp1.0
/AspNetCore.Totp.Tests/obj/Debug/netcoreapp1.0
